*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 8440px
}

header, main, footer{
    width: 1440px;
    margin: auto;
    color: $color_brown
}

nav, .jumbodron, .container_processi{
    width: 80%;
    margin:auto;
}
