header{
    background-color: $bg_white;
    height: 90px;

    nav{
        @include flex-space-between;
        height: 90px;
        align-items: center;
        border-bottom: 2px solid $color_brown;
        color: $color_brown;
        padding: 0 20px;
        background-color: $bg_white;
        .link{
            display: $display_flex;
            align-items: center;

            ul{
                display: $display_flex;
                list-style: none;
                li{
                    padding: 0 15px;
                }
            }
            button{
                padding: 10px 15px;
                border: 2px solid $color_blue;
                border-radius: 10px;
                background-color: $bg_white;
                img{
                    height: $height_logo;                   
                }
                span{
                    position: relative;
                    bottom: 5px;
                    font-size: 16px;
                    font-weight: bold;
                    color: $color_blue;
                }
            }
            i{
                font-size: 25px;
                display: none;
            }
        }
    }
}
