header{
    background-color: $bg_white;
    height: 90px;

    nav{
        @include flex-space-between;
        height: 100%;
        align-items: center;
        border-bottom: 1px solid $color_brown;
        color: $color_brown;

        .link{
            display: $display_flex;

            ul{
                display: $display_flex;
                align-items: center;
                list-style: none;
                li{
                    padding: 0 15px;
                }
            }
            button{
                padding: 10px 15px;
                border: 1px solid blue;
                border-radius: 10px;
                background-color: $bg_white;
                img{
                    height: $height_logo;                   
                }
                span{
                    position: relative;
                    bottom: 5px;
                    font-weight: bold;
                    color: blue;
                }
            }
        }
    }
}