main{
    .jumbodron{
        display: flex;
        padding: 50px 0;

        .left{
            width: 50%;
            h1, h3{
                color: $color_brown;
            }
            h1{
                font-size: 40px;
                padding-top: 15px;
                line-height: 60px;
            }
            h3{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 120px;
            }
            button{
                background-color: $color_darkblue;
                color: $bg_white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                font-weight: bold;
                img{
                    height: $height_logo;
                }
            }
            span{
                position: relative;
                bottom: 5px;
            }
            div{
                margin-top: 20px;
            }
        }

        .right{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }

    .processi{
        background-color: $bg_beige;
    
        .container_processi{
            display: flex;
            flex-direction: column;
            padding: 80px 0;

            h2{
                font-size: 30px;
                text-align: center;
                margin: auto;
            }
            .parte_superiore{
                border-bottom: 2px solid $color_brown;
                h2{
                    width: 50%;
                }
            }
            .parte_inferiore{
                margin-top: 100px;
                h2{
                    width: 60%;
                }
            }
            .list_card{
                display: flex;
                justify-content: space-around;
                margin-top: 80px;
                .card_animata{
                    width: 30%;
                    text-align: center;
                }
                img{
                    height: 50%;
                }
            }
            .coniglio{
                text-align: center;
                margin-bottom: 120px;
                img{
                    height: 50%;
                }
            }
        }
    }

    .funzionamento{
        .sotto_sezione{
            @include flex-space-between;
            padding: 80px 0;
            .immagine_funzionamento {
                width: 50%;
                img{
                    width: 100%;
                }
            }
            .testo_funzionamento{
                width: 25%;
                h2{
                    font-size: 40px;
                    padding-bottom: 100px;
                }
                p{
                    padding-bottom: 40px;
                }
                a{
                    text-decoration: none;
                }
                img{
                    width: 100%;
                    margin-top: 40px;
                }
            }
            .testo_funzionamento:nth-child(odd){
                margin-left: 25%;
            }
            .testo_funzionamento:nth-child(even){
                margin-right: 25%;
            }
        }
    }

    .messaggio{
        background-color: $bg_beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        h2{
            font-size: 40px;
            margin-bottom: 80px;
        }
        .container_messaggio{
            position: relative;
            background-color: $bg_white;
            border: 2px solid $color_blue;
            border-radius: 10px;
            width: 40%;
            i{
                position: absolute;
                top: -20px;
                left: -20px;
                font-size: 40px;
                color: $color_blue;
            }
            p{
                margin: 20px;
            }
            p:last-child{
                display: inline-block;
            }
            .fondatori{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img{
                    margin:0 20px;
                }
                span{
                    color: $color_blue;
                }
            }
        }
        button{
            background-color: $color_darkblue;
            color: $bg_white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 20px;
            img{
                height: $height_logo;
            }
        }
        span{
            position: relative;
            bottom: 5px;
        }
    }
}