@media screen and (min-width: 550px) and (max-width: 998px){
    header{
        nav{  
            .link{
                ul{
                    li{
                        display: none;
                    }
                }
                button{
                    display: none;
                }
                i{
                    font-size: 25px;
                    display: block;
                }
            }
        }
    }
    
    main{
        font-size: $font_20px;
        .jumbodron{
            flex-wrap: wrap;
            .left{
                flex-basis: 100%;
                text-align: center;
                h1{
                    font-size: 60px;   
                }
                h3{
                    font-size: 30px;
                    margin-bottom: 40px;
                }
                button{
                    font-size: $font_20px;
                }
            }
            .right{
                flex-basis: 100%;
            }
        }

        .processi{
            .container_processi{
                .parte_superiore, .parte_inferiore{
                    h2{
                        font-size: 35px;
                    }
                    .list_card{
                        flex-wrap: wrap;
                    }
                    .card_animata{
                        flex-basis: 100%;
                    }
                }
            }
        }
        .funzionamento{
            .sotto_sezione{
                flex-wrap: wrap;
                .immagine_funzionamento{
                    flex-basis: 100%;
                }
                .testo_funzionamento{
                    position: relative;
                    flex-basis: 100%;
                    text-align: center;
                    p, a{
                        font-size: 25px;
                    }
                }

                .testo_funzionamento:nth-child(odd){
                    margin-left: 0;
                }
                .testo_funzionamento:nth-child(even){
                    margin-right: 0;
                }
            }

            .sotto_sezione:nth-child(1){
                    .testo_funzionamento{
                        a{
                            position: absolute;
                            bottom: 0;                     
                        }
                    }
            }
            .sotto_sezione:nth-child(2){
                    .testo_funzionamento{
                        img{
                            width: 70%;
                        }
                        a{
                            position: absolute;
                            bottom: 0;                     
                            left: 150px;
                        }
                    }
            }
            .sotto_sezione:nth-child(4){
                    .testo_funzionamento{
                        img{
                            width: 70%;
                        }
                        a{
                            position: absolute;
                            bottom: 0;                     
                            left: 150px;
                        }
                    }
            }
        }

        .messaggio{
            .container_messaggio{
                width: 80%;
            }
            button{
                font-size: $font_20px;
            }
        }
    }

    footer{
        .container_footer{
            flex-wrap: wrap;
            div{
                p{
                    font-size: $font_20px;
                }
                h4{
                    font-size:25px;
                }
                ul{
                    li{
                        a{
                            font-size: $font_20px;
                        }
                    }
                }
            }
            div:first-child{
                width: 5%;
                img{
                    width:55px;
                }
            }
            div:nth-child(2){
                width: 75%;
                margin-right: 10%;
            }
            div:nth-child(3){
                width: 26.6%;
                margin-left: 10%;
            }
            div:nth-child(4){
                width: 26.6%;
            }
            div:nth-child(5){
                width: 26.6%;
                margin-right: 10%;
            }
            div:nth-child(6){
                width: 26.6%;
                margin-right: 26.6%;
                margin-left: 10%;
            }
            div:last-child{
                width: 26.6%;
                margin-right: 10%;
            }
        }
    }
}

@media screen and (max-width: 550px){
    header{
        nav{
            div{
                img{
                    width: 200px;
                }
            }
            .link{
                ul{
                    li{
                        display: none;
                    }
                }
                button{
                    display: none;
                }
                i{
                    font-size: 50px;
                    display: block;
                }
            }
        }
    }

    main{
        font-size: 30px;
        .jumbodron{
            flex-wrap: wrap;
            .left{
                flex-basis: 100%;
                text-align: center;
                h1{
                    font-size: 110px; 
                    line-height: 120px;  
                }
                h3{
                    font-size: 50px;
                    margin-top: 40px;
                    margin-bottom: 80px;
                }
                button{
                    font-size: 30px;
                    padding: 10px 20px;
                }
            }
            .right{
                flex-basis: 100%;
            }
        }
        .processi{
            .container_processi{
                .parte_superiore, .parte_inferiore{
                    h2{
                        font-size: 60px;
                    }
                    .list_card{
                        flex-wrap: wrap;
                    }
                    .card_animata{
                        flex-basis: 100%;
                    }
                }
            }
        }
        .funzionamento{
            .sotto_sezione{
                flex-wrap: wrap;
                .immagine_funzionamento{
                    flex-basis: 100%;
                }
                .testo_funzionamento{
                    position: relative;
                    flex-basis: 100%;
                    text-align: center;
                    h2{
                       font-size: 60px; 
                    }
                    p, a{
                        font-size: 50px;
                    }
                }

                .testo_funzionamento:nth-child(odd){
                    margin-left: 0;
                }
                .testo_funzionamento:nth-child(even){
                    margin-right: 0;
                }
            }

        }
        .messaggio{
            h2{
                font-size: 110px;
                width: 50%;
            }
            img{
                width: 100px;
            }
            .container_messaggio{
                width: 80%;
            }
            button{
                font-size: 30px;
            }
        }
    }

    footer{
        .container_footer{
            flex-wrap: wrap;
            div{
                p{
                    span{
                        font-size: 20px;
                    }
                    font-size: 30px;
                    line-height: 40px;
                }
                h4{
                    font-size:40px;
                }
                ul{
                    li{
                        a{
                            font-size: 30px;
                        }
                    }
                }
            }
            div:first-child{
                width: 5%;
                img{
                    width:55px;
                }
            }
            div:nth-child(2){
                width: 75%;
                margin-right: 10%;
            }
            div:nth-child(3){
                width: 26.6%;
                margin-left: 10%;
            }
            div:nth-child(4){
                width: 26.6%;
            }
            div:nth-child(5){
                width: 26.6%;
                margin-right: 10%;
            }
            div:nth-child(6){
                width: 26.6%;
                margin-left: 10%;
            }
            div:last-child{
                width: 26.6%;
            }
        }
    }   
}

