$bg_beige: #FFE7D2;

$color_brown: #58402C;

$bg_white: white;

$color_blue: blue;

$color_darkblue: darkblue;

$display_flex: flex;

$height_logo: 25px;

$font_20px: 20px;

$font_30px: 30px;

@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}