$bg_beige: #FFE7D2;

$bg_white: white;

$color_brown: #58402C;

$display_flex: flex;

$height_logo: 25px;

@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}